body {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    background: rgb(215, 215, 215);
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-top: 35px;
    margin-bottom: 10px;
}

.vertCenter {
    vertical-align: middle !important;
}

#bTurnOn, #bTurnOff {
    margin-top: 10px;
}

.well {
    background: rgb(255, 255, 255);
    border-radius: 20px !important;
}
