<!DOCTYPE html>
<html>
<head>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--Bootstrap:  Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <!-- Bootstrap: Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <!-- Bootstrap: Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src='/static/plugstrip.js' type='text/javascript' language='javascript'></script>
    <link href='/static/style.css' type='text/css' rel='stylesheet'>
    <meta charset='utf-8'>
    <title>{{ name }}: {{ location }}</title>
</head>

<body>
<input type="hidden" id="uuid" value="{{ uuid }}">
<div class='container-fluid'>
    <h1>{{ name }}: {{ location }}</h2>
    <h3>Owned By: {{ owner }}</h3>
    <div class='row'>
        <div class='col-xs-4'>
            <a class='btn btn-info' href='{{ plot_url }}' id='bViewPlot' role='button'>View Plot of Data</a>
        </div>
        <div class='col-xs-4'>
            <button type='button' class='btn btn-success' id='bTurnOn'>Turn Plug On</button>
        </div>
        <div class='col-xs-4'>
            <button type='button' class='btn btn-danger' id='bTurnOff'>Turn Plug Off</button>
        </div>
    </div>

    <h2>Aggregate Statistics</h2>
    <table class='table table-bordered'>
    <tbody>
        <tr>
            <td><strong>Energy Consumed in Last Hour</strong></td>
            <td>{{ hour_total }} W</td>
        </tr>
        <tr>
            <td><strong>Energy Consumed in Last Day<strong></td>
            <td>{{ day_total }} W</td>
        </tr>
        <tr>
            <td><strong>Energy Consumed in Last Week</strong></td>
            <td>{{ week_total }} W</td>
        </tr>
        <tr>
            <td><strong>Peak Energy Draw in Last Hour</strong></td>
            <td>{{ hour_peak }} W</td>
        </tr>
        <tr>
            <td><strong>Peak Energy Draw in Last Day</strong></td>
            <td>{{ day_peak }} W</td>
        </tr>
        <tr>
            <td><strong>Peak Energy Draw in Last Week</strong></td>
            <td>{{ week_peak }} W</td>
        </tr>
    </tbody>
    </table>

    <h2>Actuation Schedule</h2>
    <table class='table table-bordered'>
    <thead>
        <tr>
            <th class='deleteCell'>Delete</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id='actuationEvents'>
        {% for event in schedule %}
        <tr class='clickable'>
            <td class="deleteCell"><button type='button' class='btn btn-danger tableDelBtn'>Remove Event</button></td>
            <td>{{ event["hour"] }}:{{ event["minute"] }}</td>
            {% if event["turn_on"] %}
            <td>Turn On</td>
            {% else %}
            <td>Turn Off</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <button type='button' class='btn btn-success' id='bAddEvent'>Add Event to Schedule</button>
    <button type='button' class='btn btn-danger' id='bDelEvent'>Remove Event from Schedule</button>
    <br/>
    <div class='row'>
        <div class='col-xs-4' id='divHour'>
            <label for='tHour'>Hour</label>
            <input type='text' class='form-control' id='tHour'>
        </div>
        <div class='col-xs-4' id='divMinute'>
            <label for='tMinute'>Minute</label>
            <input type='text' class='form-control' id='tMinute'>
        </div>
        <div class='col-xs-4' id='divAction'>
            <label for='sAction'>Action</label>
            <select class='form-control' id='sAction'>
                <option>Turn On</option>
                <option>Turn Off</option>
            </select>
        </div>
    </div>
    <br/>
    <button type='button' class='btn btn-success' id='bSaveEvent'>Save Event</button>
    <button type='button' class='btn btn-danger' id='bCancel'>Cancel</button>
</div>
</body>
</html>
